body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.header {
    background: #000;
    padding-bottom: 75px;
    padding-top: 50px;
}

.container {
    margin-left: 92px;
    margin-right: 92px;
}

.nav{
    display: flex;
    align-items: center;
}

.call {
    font-size: 14px;
    margin-left: 730px;
}

.call-text {
    color: #969696;
}

.phone {
    margin-left: 5px;
}

.burger-menu__btn {
    position: fixed;
    top: 45px;
    right: 110px;
    z-index: 30;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.burger-menu__btn:hover .burger-menu__lines {
    filter: brightness(0.7);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
}

.burger-menu__lines {
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 29px;
    display: flex;
    justify-content: flex-end;
}

.burger-menu__lines::before {
    content: "";
    top: -7px;
}

.burger-menu__lines::after{
    content: "";
    top: 7px;
    width: 21px;
}

.burger-menu__active .burger-menu__lines {
    background-color: transparent;
}

.burger-menu__active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu__active .burger-menu__lines::after{
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu__nav {
    padding-top: 45px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    /*height: 100%;*/
    background-color: rgba(255, 255, 255, 0.1);
    overflow-y: auto;
    right: -100%;
}

.burger-menu__active .burger-menu__nav {
    right: 0;
}

.burger-menu__link {
    padding: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.burger-menu__link:hover {
    filter: brightness(0.7);
}

.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu__active .burger-menu__overlay {
    display: block;
}



.header-content {
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
}

.merits {
    font-style: italic;
    margin-bottom: 124px;
}

.merits span {
    margin-right: 23px;
}

.help-text{
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

h1 {
    font-style: italic;
    font-size: 38px;
    margin-bottom: 15px;
}

.introtext{
    width: 379px;
    margin-bottom: 45px;
}

.order{
    color: #ff3a3a;
    border: 1px solid #ff3a3a;
    border-radius: 100px;
    padding: 14px 44px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.order:hover {
    background: #ff3a3a;
    border: 1px solid #ff3a3a;
    color: #fff;
}

.news {
    width: 273px;
    display: flex;
    margin-top: 149px;
}

.news a {
    color: #fff;
    text-decoration: none;
}

.news-pic {
    width: 57px;
    height: 57px;
    border-radius: 15px;
    display: block;
}

.news-info {
    margin-left: 20px;
}

.news-info h4 {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    margin-bottom: -4px;
    margin-top: 7px;
}

.news-info p {
    font-size: 13px;
}

.slider {

}

.slider-pic {
    display: block;
    margin-top: 160px;
}

.slider-nav {
    display: flex;
    align-items: center;
    width: 210px;
    margin: 150px auto 0 auto;
}

.arrow {
    font-family: Arial, serif;
    font-size: 17px;
}

.slider-nav .arrow:first-child {
    margin-right: 20px;
}

.slider-nav .arrow:last-child {
    margin-left: 20px;
}

.triggers {
    display: flex;
    justify-content: space-between;
    width: 130px;
    align-items: center;
}

.triggers span {
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    display: block;
    opacity: 0.41;
}

span.active {
    opacity: 1;
}
